extends layout

block content

    section.content-section.container
        body.background-champ
        h1.section-header Past Champions
        
        h2.champ-year 2023
        h3.champ Wide Reciver Factory
        h3.champ-rec  (8-6)      
        
        h2.champ-year 2022
        h3.champ Strictly Dubs 
        h3.champ-rec (9-5)       
        
        h2.champ-year 2021
        h3.champ Big Black Cats 
        h3.champ-rec (10-4)

        h2.champ-year 2020
        h3.champ *Drink Brews Suck Boobs 
        h3.champ-rec (9-4)

        h2.champ-year 2019
        h3.champ Jimmy G String
        h3.champ-rec (9-4)

        h2.champ-year 2018
        h3.champ Jimmy G String 
        h3.champ-rec (7-6)

        h2.champ-year 2017 
        h3.champ Big Pops
        h3.champ-rec (7-6)




