extends layout

block content

    section.content-section.container
        body.background
        h1.index-header League Home

        h2.index-header News
            p.section-paragraph.
             
        div
        h2.index-header Betting Odds


            
