extends layout

block content

    section.content-section.container
        body.background
        h1.index-header Welcome To The 8th Annualy FF Draft

        h2.index-header News
            p.section-paragraph.
             With this new 2024 season coming we have lost some managers and also gained new ones. To start of the news we welcome back our 2018 and 2019 winner big Tuck or Jimmy G String.
             Along with Tuck we've picked up B Pettys brother Julian. Julian is new to the league and will likeley being taking last place in the league this year. For the ones that we've lost
             we've lost Brandon Dawson, Alex, and Parker in unfortunate events. Alex has been MIA for a long while, last years champion Brandon Dawson is away on a trip to somewhere and
             will not have service, and Parker is unavailable due to summer month.
            p.section-paragraph.
             In other news the league has changed formats to one more bench player and 2 Qbs. This was voted on last season that we would go ahead and do this (please do not contact the
             commisioner with your complaints). An extra bench player was added becuase of the new Quaterback and also so less good players would be available sitting in free agency.
             Betting odds have also been made for all of the potential winners for this season(find your own bookie).
             
        div
        h2.index-header Betting Odds
         p.section-paragraph Chris: +100
         p.section-paragraph Tuck: +500
         p.section-paragraph B petty: +750
         p.section-paragraph Sean: +800
         p.section-paragraph Puma: +1000
         p.section-paragraph Mike: +2500
         p.section-paragraph Jay: +3000
         p.section-paragraph Julian: +5000

            
