block header
    title BPW
    style
        include styles.css
    header.main-header
        nav.nav.main-nav
            ul
            li
                a(href="/index") HOME
            li
                a(href="/contact") Draft Board
            li
                a(href="/champions") Champions
        h1.ff-name.ff-name-large Fantasy Football League
 
block content

block footer
    footer.main-footer 
        div.container.main-footer-container
            a.ff-name(href="/index") JFB
            ul.nav.footer-nav
                li
                    a(href="https://www.instagram.com/chris.comito/", target="_blank")
                        img(src="images/iglogoV2.webp")
                li
                    a(href="https://fantasy.espn.com/football/league?leagueId=1166608", target="_blank")
                        img(src="images/espn.webp")
            ul.nav
                li
                    h4.footer-info chcomito@gmail.com
                li
                    h4.footer-info 856-619-5666