html
  head
    style 
      include styles.css

  body.form-container
    div.form-small-container 
      h1.form-title Login
      span.form-para.top-span Login and get back to your league.
      form(method="POST")
        .input
          input#uname.input-box(type="text", placeholder="Username", name="uname")
        .input
          input#pword.input-box(type="password", placeholder="Password", name="pword")
        .input
          input#submit(type="submit", value="Login")    
      span.form-para.bottom-span No account? Sign up here for free.
      a(href="/register")
        button.redirect-to-register SignIn