html
  head
    style 
      include styles.css

  body.form-container
    div.form-small-container 
      h1.form-title Sign Up
      span.form-para.top-span Signup and make your account to get started.
      form(method="POST")
        .input
          input#uname.input-box(type="text", placeholder="Username", name="uname")
        .input
          input#pword.input-box(type="password", placeholder="Password", name="pword")
        .input
          input#email.input-box(type="email", placeholder="Email", name="email")
        .input
          input#submit(type="submit", value="Get Started")    
